/* ------------------------------------------------------------------------- */
/* COLORES

Rojo: #d03b40
Beige: #ded6c0
Blanco: #f5f0ed
Gris: #241d1b

Texto claro: #f5f0ed
Texto oscuro: #3c3c3b


TIPOGRAFÍAS

Open Sans Regular
Open Sans Extrabold


TAMAÑOS

Encabezado 1r nivel: 44px
Encabezado 2º nivel: 28px
Encabezado 3r nivel: 24px
Cuerpo de texto: 16px
Botones: 14px */

/* *{
    border: 1px solid seashell;
} */

@font-face{
    font-family: 'OpenSans-Bold';
    src: url(../Tipografia/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: 'OpenSans-Regular';
    src: url(../Tipografia/OpenSans-Regular.ttf);
}

body{
    background: lightslategray;
    margin: 0;
}
/* ------------------------------heaer-------------------------------------- */

header{
    height: 100vh;
    background-image: url(../Images/Fondo1.jpg);
    background-size: cover;
    background-position: center;
    color: #f5f0ed;
}

p{
    font-family: OpenSans-Regular, sans-serif;
}

h1, h2, a, button{
    font-family: OpenSans-Bold, sans-serif;
}

#menu-logo{
    height: 200px;

}

#logo{
    float: left;
    margin: 15px;
}

.boton{
    display: none;
    padding: 0;
    border: none;
    background: none;
    color: #f5f0ed;
    cursor: pointer;
}

#menu{
    padding: 0;
    margin: 20px;
    float: right;
}

#menu .a{
    padding: 4px;
    text-decoration: none;
    color: #f5f0ed;
}

#enunciado{
    height: 200px;
    text-align: center;
}

#enunciado h1{
    font-size: 50px;
    line-height: 50px;
}

#enunciado hr{
    position: relative;
    width: 80px;
    height: 2.1px;
    border: none;
    background: white;
    top: -8px;
}

#enunciado p{
    margin: auto;
    line-height: 160%;
    max-width: 450px;
}

@media screen and (max-width: 500px){

    header{
    height: auto;
    }

    #menu-logo{
        height: auto;
    
    }
   .boton{
    display: inline-block;
    margin-right: 15px;
    }

    #menu{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        float: none;
    }

    .hide{
        display: none;
    }

    .logo-boton{
        display: flex;
        justify-content: space-between;
    }

    #enunciado{
        height: auto;
    }

    #enunciado h1{
        font-size: 40px;
        line-height: 50px;
    }

    #enunciado p{
        padding: 15px;
    }
}
/* -----------------------------Articles---------------------------- */

.articles{
    height: 380px;
    display: flex;
    align-items: center;
}

.h2articles{
    font-size: 25px;
    line-height: 27px;
}

.margenar{
    height: inherit;
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.articles .ar1{
    background: #d03b40;
    color: #ded6c0;
}

.articles .ar2{
    background: #ded6c0;
    color: #d03b40;
}
/* -----------------------------Explorar---------------------------- */

.explorar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 540px;
    background-image: url(../Images/Fondo2.jpg);
    background-size: cover;
    background-position: center;
    color: #f5f0ed;
}

.explorar h2{
    font-size: 45px;
}

.explorar p{
    font-family: OpenSans-Regular, sans-serif;
    margin: 20px auto 35px;
    line-height: 160%;
    max-width: 450px;
}

.explorar hr{
    position: relative;
    top: -15px;
    width: 80px;
    height: 2.1px;
    border: none;
    background: white;
}

.explorar button{
    background: none;
    color: #f5f0ed;
    border: 2px solid #f5f0ed;
    max-width: 270px;
    padding: 12px;
    cursor: pointer;
}

/* -----------------------------Articles 2---------------------------- */

.articles2{
    display: flex;
    align-items: center;
    height: 550px;
    background:#f5f0ed;
}

.articles2 h2{
    margin-top: 0;
    margin-bottom: 0;
    color:#3c3c3b;
}

.articles2 p{
    margin-top: 0;
    height: 130px;
    color: #3c3c3b;
}

.imgleft{
    float: left;
    padding-right: 10px;
}

.margen{
    width: 50%;
    margin: 0 20px;
}

.pan{
    margin-bottom: 40px;
}

.tartas{
    margin-bottom: 40px;
}

@media screen and (max-width: 1146px){
    .articles2{
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }
    
    .articles2 p{
        margin-left: 90px;
    }
    
    .imgleft{
        width: 80px;
    }
    
    .margen{
        width: initial;
    }
    
    .tartas{
        margin-bottom: 0;
    }
    
    .pan{
        margin-top: 20px;
        margin-bottom: 0;
    }

}

@media screen and (max-width: 500px){
    .articles2{
        
    }
    
    .articles2 p{
        
    }
    
    .imgleft{
        
    }
    
    .margen{
        
    }
    
    .tartas{
        
    }
    
    .pan{
        
    }
}
/* -----------------------------Contacto ---------------------------- */

.donde{
    height: 380px;
    display: flex;
    align-items: center;
}

.contmargen{
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contacta{
    background: #ded6c0;
    color: #d03b40;
}

.donde{
    background: #d03b40;
    color: #ded6c0;
}

span{
    font-family: OpenSans-Regular, sans-serif;
}

/* -----------------------------Derechos ---------------------------- */

.derechos{
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 150px;
    color: white;
    background: #251d1b;
}