/* ------------------------------------------------------------------------- */
/* COLORES

Rojo: #d03b40
Beige: #ded6c0
Blanco: #f5f0ed
Gris: #241d1b

Texto claro: #f5f0ed
Texto oscuro: #3c3c3b


TIPOGRAFÍAS

Open Sans Regular
Open Sans Extrabold


TAMAÑOS

Encabezado 1r nivel: 44px
Encabezado 2º nivel: 28px
Encabezado 3r nivel: 24px
Cuerpo de texto: 16px
Botones: 14px */

/* *{
    border: 1px solid seashell;
} */

@font-face{
    font-family: 'OpenSans-Bold';
    src: url(../Tipografia/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: 'OpenSans-Regular';
    src: url(../Tipografia/OpenSans-Regular.ttf);
}

body{
    background: lightslategray;
    margin: auto;
}
/* ------------------------------heaer-------------------------------------- */
/* ------------------------------heaer-------------------------------------- */
header{
    height: 100vh;
    background-image: url(../Images/Fondo1.jpg);
    background-size: cover;
    background-position: center;
    color: #f5f0ed;
}

p{
    font-family: OpenSans-Regular, sans-serif;
}

h2{
    font-family: OpenSans-Bold, sans-serif;
}

#menu-logo{
    height: 200px;

}

#logo{
    float: left;
    margin: 15px;
}

#menu{
    padding: 0;
    margin: 20px;
    float: right;
}

#menu li{
    display: inline;
}

#menu li a{
    padding: 4px;
    text-decoration: none;
    color: #f5f0ed;
    font-family: OpenSans-Bold, sans-serif;
}

#enunciado{
    height: 200px;
    text-align: center;
}

#enunciado h1{
    font-size: 50px;
    font-family: OpenSans-Bold, sans-serif;
    line-height: 50px;
}

#enunciado hr{
    position: relative;
    width: 80px;
    height: 2.1px;
    border: none;
    background: white;
    top: -8px;
}

#enunciado p{
    font-family: OpenSans-Regular, sans-serif;
    margin: auto;
    line-height: 160%;
    max-width: 450px;
}
/* -----------------------------Articles---------------------------- */

.articles{
    height: 380px;
    display: flex;
    align-items: center;
}

.h2articles{
    font-size: 25px;
    line-height: 27px;
}

.articles .ar1{
    height: 380px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #d03b40;
    color: #ded6c0;
}

.articles .ar2{
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #ded6c0;
    color: #d03b40;
}
/* -----------------------------Explorar---------------------------- */

.explorar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 540px;
    background-image: url(../Images/Fondo2.jpg);
    background-size: cover;
    background-position: center;
    color: #f5f0ed;
}

.explorar h2{
    font-size: 45px;
}

.explorar p{
    font-family: OpenSans-Regular, sans-serif;
    margin: 20px auto 35px;
    line-height: 160%;
    max-width: 450px;
}

.explorar hr{
    position: relative;
    top: -15px;
    width: 80px;
    height: 2.1px;
    border: none;
    background: white;
}

.explorar button{
    background: none;
    color: #f5f0ed;
    border: 2px solid #f5f0ed;
    max-width: 270px;
    padding: 12px;
    cursor: pointer;
}

/* -----------------------------Articles 2---------------------------- */